/* Colors */

$main: #be1e2d;
$light: #ffffff;
$dark: #000000;
$transparent-light: rgba(0,0,0,.5);
$transparent-dark: rgba(0,0,0,.75);

/* main logo colors */

  $main-fill: #ffffff;
  $arrows: rgba(0,0,0,.25);

/* */

$main-bg: #f5f5f5;

$main-selection-color: #ff4500;
$main-selection-color-text: #ffffff;

$main-link-color: #ff4500;
$main-link-color-hover: #ff0000;

$caption-color: #000000;
$caption-bg-transparent: rgba(0,0,0,.75);

$highlight-bg: #ff4500;
$highlight-border: #000000;

$header-bg: #222222;
$homepage-header-bg: #ff4500;

$menu-bg: #ff4500;
$menu-item: #ff4500;

$meta-color: #ff4500;

$jp-color-1: #ff4500;
$jp-color-2: #ff4500;
$jp-color-3: green;

$header-link: #555555;
$header-link-hover: #ffffff;
