body, .pure-g [class *= "pure-u"]  {
  font-family: 'Open Sans', sans-serif;
}

body {
  background: $main-bg;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;

  ::-moz-selection {
    background: $main-selection-color;
    text-shadow: none;
    color: $main-selection-color-text;
  }

  ::selection {
    background: $main-selection-color;
    text-shadow: none;
    color: $main-selection-color-text;
  }
}

.note {
  display: block;
  padding: 25px;
  margin-top: 60px;
  font-size: 1.125rem;
  border: 1px solid $arrows;
  color: $transparent-light;
  background-color: #fff9d4;

  i, .inner {
    display: inline-block;
    vertical-align: middle;
  }
}

/* link styles */

/*

a {
  color: $main-link-color;
  transition: all 0.2s ease-out;
  text-decoration: none;

  &:hover {
    color: $main-link-color-hover;
  }

  &.btn {
    cursor: pointer;
  }
}
*/

/* image stuffs */

.rounded {
  border-radius: 3px;
}

.pooper1 {
	background: #ff4500;
	color: #fff;
}

.pooper2 {
	background: #000;
	color: #fff;
}

#image-test {
    opacity: 0;
}

.titlelogo {
  max-width: 800px;
}

.logosvg {
  height: 40px;
  margin-top: 12px;

  @media (max-width: 600px) {
    height: 35px;
  }
}

.mb40 {
  margin-bottom: 40px;
}

.notopp {
  padding-top: 0 !important;
}

.nobotp {
  padding-bottom: 0 !important;
}

.paddingtop10 {
  padding-top: 10px !important;
}

.p15 {
  padding: 15px;
}

.shadow {
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
}

.hmtop {
  margin: 4rem 0 10px 0;

  @media (max-width: 510px) {
    margin: 3rem 0 10px 0;
  }
}

.icon-block {
  @media (max-width: 510px) {
    margin-bottom: 35px;
  }
}

.icnsm {
  font-size: 1.25rem !important;
  display: inline-block !important;
  height: auto !important;
  line-height: 100% !important;
  vertical-align: middle;
  margin-bottom: 4px;
}

.lname {
  font-size: 1.25rem;
}

.submit {
  font-weight: 400;
  color: red;
  background: #111;
  padding-left: 20px;
  padding-right: 20px;

  &:hover {
    color: #000;
    background: #fff;
  }
}

.dropdown-content li > a.smaller, .dropdown-content li > span.smaller {
    font-size: 14px;
    color: #26a69a;
    display: block;
    line-height: 30px;
    padding: 8px 12px;
}

.collapsible {
  box-shadow: none;
  border: 0;
  border-top: 1px solid #ddd;

  .collapsible-header {
    background-color: transparent;
  }

  .collapsible-body {
    background-color: #fff;
    overflow: auto;
  }
}

.section_header {
  display: block;
  overflow: auto;
  margin: 20px 10px;

  h4.row_hl {
    font-weight: 300;
    margin-bottom: 5px;
  }
  .f_right {
    font-weight: 300;
    font-style: italic;
  }
}

footer.page-footer {
    margin-top: 0;
    padding: 40px 0;
}
